<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Inscription</h3>
        </div>
        <div class="panel-body">
          <form *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit(f)"
                #f="ngForm"
                novalidate role="form">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input required ngModel name="nom" type="text" id="first_name" class="form-control input-sm"
                         placeholder="Prénom">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input required ngModel name="prenom" type="text" id="last_name" class="form-control input-sm"
                         placeholder="Nom">
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email"
                     class="form-control"
                     name="email"
                     [(ngModel)]="form.mail"
                     required
                     mail
                     #mail="ngModel" placeholder="exemple@mail.com">
            </div>

            <div class="alert-danger" *ngIf="f.submitted && mail.invalid">
              <div *ngIf="mail.errors.required">
                Un email est requis
              </div>
              <div *ngIf="mail.errors.mail">
                Votre email n'est pas valide
              </div>
            </div>


            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input required ngModel name="password" type="password" autocomplete="new-password" id="password"
                         class="form-control input-sm" placeholder="Mot de passe">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input required type="password" name="password_confirmation" id="password_confirmation"
                         class="form-control input-sm" placeholder="Confirmer">
                </div>
              </div>
            </div>
            <button class="btn btn-dark btn-block">Confirmer</button>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              La connexion à échouée<br/>{{ errorMessage }}
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">
            Inscription réussie
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
