<div class="container">
  <div class="row centered-form justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Inscription</h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input  type="text" formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" placeholder="Prénom">
                  <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                    <div *ngIf="f.prenom.errors.required">Un prénom est requis</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input  type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" placeholder="Nom">
                  <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                    <div *ngIf="f.nom.errors.required">Un nom est requis</div>
                  </div>
                </div>

              </div>
            </div>

            <div class="form-group">
              <input type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" (change)="resetEmailAlreadyUsed()" placeholder="Adresse email"/>
              <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                <div *ngIf="f.mail.errors.required">Une adresse email est requise</div>
                <div *ngIf="f.mail.errors.email">L'adresse email doit être valide</div>
                <div *ngIf="f.mail.errors.emailAlreadyUsed">Cette adresse email est déjà utilisée</div>
              </div>
            </div>


            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input pattern="" autocomplete="new-password" type="password" formControlName="mdp" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mdp.errors }" placeholder="Mot de passe" />
                  <div *ngIf="submitted && f.mdp.errors" class="invalid-feedback">
                    <div *ngIf="f.mdp.errors.required">Un mot de passe est requis</div>
                    <div *ngIf="f.mdp.errors.pattern">Le mot de passe doit contenir: <br>- 8 caractères minimum <br>- au moins 1 majuscule <br>- au moins 1 chiffre <br>- au moins 1 caractère spécial </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input autocomplete="new-password" type="password" formControlName="mdpConfirmation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mdpConfirmation.errors }" placeholder="Mot de passe" />
                  <div *ngIf="submitted && f.mdpConfirmation.errors" class="invalid-feedback">
                    <div *ngIf="f.mdpConfirmation.errors.required">La confirmation du mot de passe est requise</div>
                    <div *ngIf="f.mdpConfirmation.errors.mustMatch">Les mots de passe doivent correspondre</div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-dark btn-block">Confirmer</button>

          </form>
          <div *ngIf="isSuccessful" class="alert-success">Votre inscription est validée</div>

        </div>
      </div>
    </div>
  </div>
</div>
