h1 {
  text-align: center;
  margin-top: 50px;
  letter-spacing: 2px;
}

h5 {
  text-align: center;
  margin-bottom: 50px;
  color: darkcyan;
}

.card-header {
  background-color: #fff !important;
  border: none;
}

.card-footer {
  background-color: #ffffff !important;
  border: none;
}
