<div class="container mt-4">

  <h1>NOS FORMATIONS</h1>
  <h5>DÉCOUVREZ NOS FORMATIONS PAR DOMAINES</h5>

  <div class="card-deck">
    <div class="row">
      <div class="card mb-3" *ngFor="let formation of formationList">

        <div class="card-header">
          <h4 class="card-title">{{ formation.titre }}</h4>
        </div>

        <div class="card-body">
          <p class="card-text">{{formation.description}}</p>
        </div>

        <div class="card-footer">
          <a class="btn btn-dark" routerLink="/formation/{{ formation.id}}">Plus d'infos</a>
        </div>

      </div>
    </div>
  </div>
</div>
